<form action="/form">
    <div class="form-group">
      <label for="sideA">Input side A</label>
      <input id="sideA" name="sideA" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label for="sideB">Input side B</label>
      <input id="sideB" name="sideB" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label for="sideC">Input side C</label>
      <input id="sideC" name="sideC" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-danger">Find Out!</button>
  </form>